# Configuração do JFrog Petrobras para desenvolvimento local
registry=https://jfrog.petrobras.dev.br/artifactory/api/npm/npm-group-all/
@*:registry=https://jfrog.petrobras.dev.br/artifactory/api/npm/npm-group-releases/
strict-ssl=false
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
fetch-timeout=600000
fetch-retries=5
maxsockets=3
legacy-peer-deps=true
audit=false
fund=false
progress=false
prefer-offline=true

# Ignora scripts de instalação que baixam binários externos
ignore-scripts=true