<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Artifactory" value="https://jfrog.petrobras.dev.br/artifactory/api/nuget/v3/nuget-group-all/index.json" />
  </packageSources>

  <!--
    Se o feed exigir autenticacao, configure em CI/CD ou no host local
    usando dotnet nuget add source com nome de fonte, usuario e token.
  -->
</configuration>
